body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}



/* CSS for the navigation bar */
nav {
    background-color: #adb2d3;
    color: #000;
    text-align: center;
    height: 60px;
    display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav ul {
    list-style: none;
    padding: 10px;
    
    
}

nav ul li {
    display:inline; ;
    margin:  10px;
    padding: 80px;
    font-size: 20px;
    
}

nav a {
    text-decoration: none;
    color:#000;
    font-weight: bold;
}
span{
    color:#f3ca40;
}

#joinus{
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
border: #f3ca40;
    background-color: #f3ca40;
}

/* Styling for the "Home" section with a background image */
/* #home {
    text-align: center;
   padding: 100px 0; 
    background-image: url('images/back.jpg'); /* Replace 'your-image-file.jpg' with your actual image file */
    /* background-size: cover;
    background-position: center;
    height: 50vh;
    color: #fff; 
} */ */

p {
margin-top: 150px;
font-size: 40px;
font-weight: 700;

}

/* Styling for the slideshow and slides */
.slideshow-container {
    position: relative;
    background-color: #000; /* Set a background color for the slideshow container */
    overflow: hidden;
}

.fade {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    color: #f3ca40;
    padding: 20px;
    text-align: center;
    font-size: 100PX;
}

.sec-about{
    width: 100%;
    background-color: #f6f2f8;
    height: 100vh;
    margin-top: -30px; 
    text-align: center;
    padding: 10px;
    font-size: 24px;
    
}
.sec-about h1{
    color: #f3ca40;
    font-weight: 700px;
}
.sec-about p {
text-align: left;
padding: 0px 10px;

}

#about{
    display: flex;
    width: 100%;
    background-color: none;
    height: 700px;
    margin-top: -10px;
}

.about{
     
    width: 30%;
    margin-left: 30px; 
    margin-right: 30px;
    background-color: #c7b6ce;
    height: 500px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    padding: 20px 20px 20px;
    border-radius: 10px;
    border: 2px solid #000;
    font-weight: 700;
}
.about p{
        font-size: 20px;
        font-weight: 200;
}

/* Rest of your CSS */


